<mat-toolbar>
  <button class="icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">My App</span>
  <span class="spacer"></span>
  <button mat-icon-button class="icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="7rem">
  <mat-grid-tile>
    <mat-grid-tile-header>Participants</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile><app-participants></app-participants></mat-grid-tile>
</mat-grid-list>
